/*-------Applies to all / Reusable--------*/

*{
    font-family: "Comfortaa", "sans-serif";
    margin: 0;
    padding: 0;
}

.section-headline{
    
    color: #4e4d4d;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

section{
    
    padding: 70px 0;
}

.line{
    
    height: 2px;
    width: 80px;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.row{
    
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.one-of-two{
    
    width: 50%;
    float: left;
}

.one-of-three{
    
    width: 33%;
    float: left;
}

.one-of-four{
    
    width: 25%;
    float: left;
}

.two-of-three{
    
    width: 33%;
    float: left;
}

.three-of-four{
    
    width: 75%;
    float: left;
}

/*----------Header-----------*/

#header{
    background-image: url('background-1.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

#header .dots{
    background-image: url('pattern-bg.png');
    height: 100%;
}

#header nav{
    position: fixed;
    padding: 20px 10px;
    width: 100%;
    z-index: 2;
}

#header nav img{
    width: 200px;
}

nav ul{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(0, -50%);
    list-style: none;
}

nav li{
    float: left;
    margin: 0 15px;
}

#header nav a{
    color: white;
    text-decoration: none;
}

#header .headline-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#header .headline-container h1{
    font-size: 60px;
    font-weight: 400;
}

#header .headline-container h2{
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 45px;
}

#header .headline-container a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 25px;
    border-radius: 15px;
}

#header .headline-container a:hover{
    
    background-color: #e0c66e;
    transition: background-color 0.25s;

    
}

#header i{
    position: absolute;
    top: 20%;
    left: 1%;
    transform: translate(0, 0);
    font-size: 30px;
    color: white;
}

#header p{
    margin 0 15px;
    position: absolute;
    top: 50%;
    left: 3%;
}

/*----------About----------*/

#about{
    background-image: url('background-2.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

#about .line{
    background-color: #4e4d4d;
}

#about img{
    
    width: 40vw;
    margin-left: 5%;
}

#about .one-of-two{
    float: right;
}

#about h2{
    
    color: #4e4d4d;
    font-weight: 300;
    margin-right: 30px;
    margin-top: 30px;
}

#about .headline-container a{
    color: #4e4d4d;
    text-decoration: none;
    border: 1px solid #4e4d4d;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 25px;
    border-radius: 15px;
    margin-top: 20px;
}

#about .headline-container {
    margin-top: 20px;
}

#about .headline-container a:hover{
    
    background-color: #e0c66e;
    transition: background-color 0.25s;

}
    
/*----------Projects----------*/   

#projects{
    background-image: url('background-3.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

#projects .headline-container a{
    color: #4e4d4d;
    text-decoration: none;
    border: 1px solid #4e4d4d;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 25px;
    border-radius: 15px;
    margin-top: 20px;
}

#projects .headline-container{
    margin-top: 20px;
}

#projects .headline-container a:hover{
    background-color: #e0c66e;
    transition: background-color 0.25s;
}

#projects h2{
    
    color: #4e4d4d;
}

#projects div{
    
    text-align: center;
}

#projects .line{
    background-color: #4e4d4d;
}

/*----------Resume----------*/

#resume{
    background-image:url('background-4.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

#resume .headline-container a{
    color: #4e4d4d;
    text-decoration: none;
    border: 1px solid #4e4d4d;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 25px;
    border-radius: 15px;
    margin-top: 20px;
}

#resume .headline-container{
    margin-top: 20px;
}

#resume .headline-container a:hover{
    background-color: #e0c66e;
    transition: background-color 0.25s;
}

#resume h2{
    color: #4e4d4d;
}

#resume .text{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%,0)
}

#resume .line{
    background-color: #4e4d4d;
}


/*---------------------------------*/
/*----------Media Queries----------*/
/*---------------------------------*/

/*----------Header----------*/

@media only screen and (max-width: 470px){
    
    #header .headline-container h1{
        
        font-size: 40px;
    }
    
    #header .headline-container h2{
        
        font-size: 25px;
    }
    
    #header .headline-container a{
        
        font-size: 20px;
    }
}

/*----------Footer----------*/

@media only screen and (max-width: 1150px){
    #footer .three-of-four, #footer .one-of-four{
        width: 100%;
    }
    
    #footer li{
        float: none;
        display: inline-block;
    }
    
    #footer ul{
        text-align: center;
        margin-bottom: 15px;
    }
}
    

/*Start Mobile Version of Nav*/

.mobile-menu{
    
    display: none;
}

.show{
    
    max-height: 300px;
}

@media only screen and (max-width: 700px){
    
    #header nav img{
        
        display: none;
    }
    
    nav ul{
        
        max-height: 0;
        overflow: hidden;
        position: static;
        transform: translate(0, 0);
    }
    
    nav li{
        
        float: none;
        padding-bottom: 25px;
    }
    
    nav{
        
        background-color: #292e37;
    }
    
    .mobile-menu{
        
        display: block;
    }
}























    



